.container{
    width:3000vw;
    transition: transform 0.5s;
}

.inner{
    width:100vw;
    float: left;
    padding: 15px;
    border-radius: 50%;
}

.inner img{
    width:100%
}

.inner p{
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

.container_h{
    width:100vw;
    height: 3000vh;
    transition: transform 0.5s;
}

.inner_h{
    width:100vw;
    float: left;
    padding: 15px;
    border-radius: 50%;
}

.inner_h img{
    width:100%
}

.inner_h p{
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

button.buttonY{
    position: absolute;
    width: 20%;
    top:80vh;
    left: 15vw;
}

button.buttonN{
    position: absolute;
    width: 20%;
    top:80vh;
    left: 65vw;
}

/* 말풍선 참고 https://projects.verou.me/bubbly/ */
.speech-bubble {
	position: relative;
	background: #6dd5df;
	border-radius: .4em;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-bottom-color: #6dd5df;
	border-top: 0;
	margin-left: -24px;
	margin-top: -24px;
}